<!doctype html>
<html lang="vi">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Education Tour &#8211; Let experience</title>
	<!-- <script>window._wca = window._wca || [];</script> -->
	<link rel="stylesheet" href="/wp-content/cache/minify/fc76105e2.css?x43415" media="all" />

	<link rel='stylesheet' id='wp-block-library-css'
		href='/c0.wp.com/c/5.1.1/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='wc-block-style-css' href='/c0.wp.com/p/woocommerce/3.6.2/assets/css/blocks/style.css'
		type='text/css' media='all' />
	<link rel="stylesheet" href="/wp-content/cache/minify/d7d1505e2.css?x43415" media="all" />

	<link rel='stylesheet' id='woocommerce-layout-css'
		href='/c0.wp.com/p/woocommerce/3.6.2/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css'
		href='/c0.wp.com/p/woocommerce/3.6.2/assets/css/woocommerce-smallscreen.css' type='text/css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='/c0.wp.com/p/woocommerce/3.6.2/assets/css/woocommerce.css'
		type='text/css' media='all' />
	<link rel='stylesheet' id='education-web-google-fonts-css'
		href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700%2C900%7CLobster%7CRoboto+Slab%3A300%2C400%2C700&amp;subset=latin%2Clatin-ext'
		type='text/css' media='all' />
	<link rel="stylesheet" href="/wp-content/cache/minify/9229f05e2.css?x43415" media="all" />

	<link rel="stylesheet" href="/wp-content/cache/minify/4b2ee05e2.css?x43415" media="all" />

	<link rel='stylesheet' id='jetpack_css-css' href='/c0.wp.com/p/jetpack/7.3.1/css/jetpack.css' type='text/css'
		media='all' />
	<script type='text/javascript' src='/c0.wp.com/c/5.1.1/wp-includes/js/jquery/jquery.js'></script>
	<script type='text/javascript' src='/c0.wp.com/c/5.1.1/wp-includes/js/jquery/jquery-migrate.min.js'></script>
	<!--[if lt IE 9]>
<script type='text/javascript' src='https://edutour.vn/wp-content/themes/education-web-pro/assets/library/html5shiv/html5shiv.min.js?x43415'></script>
<![endif]-->
	<!--[if lt IE 9]>
<script type='text/javascript' src='https://edutour.vn/wp-content/themes/education-web-pro/assets/library/respond/respond.min.js?x43415'></script>
<![endif]-->
	<script src="/wp-content/cache/minify/b09b305e2.js?x43415"></script>

	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" />
	<link rel="alternate" type="application/json+oembed"
		href="/wp-json/oembed/1.0/embedc9fa.json?url=https%3A%2F%2Fedutour.vn%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="/wp-json/oembed/1.0/embedb698?url=https%3A%2F%2Fedutour.vn%2F&amp;format=xml" />
	<link rel="stylesheet" type="text/css" href="/css/page.css">
</head>

<body class="home page-template page-template-template-pagebuilder page-template-template-pagebuilder-php page page-id-2204 wp-custom-logo siteorigin-panels siteorigin-panels-before-js siteorigin-panels-home woocommerce-no-js boxed columns-3 categories-hidden tags-hidden">

  <%- body %>

	<!-- <script type='text/javascript' src='/c0.wp.com/p/jetpack/7.3.1/_inc/build/photon/photon.min.js'></script> -->
	<script type='text/javascript' src='/c0.wp.com/p/woocommerce/3.6.2/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='/c0.wp.com/p/woocommerce/3.6.2/assets/js/frontend/add-to-cart.min.js'></script>
	<script type='text/javascript' src='/c0.wp.com/p/woocommerce/3.6.2/assets/js/js-cookie/js.cookie.min.js'></script>
	<script type='text/javascript' src='/c0.wp.com/p/woocommerce/3.6.2/assets/js/frontend/woocommerce.min.js'></script>
	<script type='text/javascript' src='/c0.wp.com/p/woocommerce/3.6.2/assets/js/frontend/cart-fragments.min.js'></script>
	<!-- <script type='text/javascript'>
		jQuery('body').bind('wc_fragments_refreshed', function () {
			jQuery('body').trigger('jetpack-lazy-images-load');
		});
	</script> -->


	<script type='text/javascript'>
		/* <![CDATA[ */
		var education_web_ajax_script = { "headersticky": "", "sidebarstick": "1" };
/* ]]> */
	</script>
	<script src = "/main.js"></script>
	<script src="/wp-content/cache/minify/45afa05e2.js?x43415"></script>
	<script src="/wp-content/cache/minify/513f405e2.js?x43415"></script>

	<script type='text/javascript' src='/c0.wp.com/p/jetpack/7.3.1/_inc/build/lazy-images/js/lazy-images.min.js'></script>
	<script type='text/javascript' src='/c0.wp.com/c/5.1.1/wp-includes/js/wp-embed.min.js'></script>
	<script type="text/javascript">document.body.className = document.body.className.replace("siteorigin-panels-before-js", "");</script>
	<!-- <script type='text/javascript' src='stats.wp.com/e-201926.js' async='async' defer='defer'></script>
	<script type='text/javascript'>
		_stq = window._stq || [];
		_stq.push(['view', { v: 'ext', j: '1:7.3.1', blog: '162689033', post: '2204', tz: '0', srv: 'edutour.vn' }]);
		_stq.push(['clickTrackerInit', '162689033', '2204']);
	</script> -->




</body>

</html>
